<<<<<<< HEAD
=======
/* add your styles here */
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vh 1vw;
    justify-items: center;

}
.container div{
    width: 48vw;
}
>>>>>>> 64a7cbd7d2311d87c583fcbe07a2a309abe8cd97
